<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>感測值統計系統</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    body {
      background: url(/img/background.jpg) no-repeat center center fixed;
      background-size: cover;
    }

    h3 {
      color: #524C4C;
    }

    .P_color {
      color: #555555;
    }

    .P_color2 {
      color: #303030;
    }
  </style>
  <script>
    var socket = io.connect('http://127.0.0.1:3000'); // 連線至伺服器

     socket.on('dustDensity', function (data) {
      $('#dustDensity').text(data.date)
    });
    socket.on('humi', function (data) {
      $('#humi').text(data.date)
    });

    socket.on('temp', function (data) {
      $('#temp').text(data.date)
    });

    socket.on('event', function (data) {
      $('#date').text(data.date)
    });
    socket.on('power', function (data) {
      $('#power').text(data.date)
    });
    socket.on('price', function (data) {
      $('#cost').text(data.date)
    });
    socket.on('money', function (data) {
      $('#money').text(data.date)
    });

    function data() {
      socket.emit('client_data', {
        'data': $('#price').val()
      });
    }
  </script>
</head>

<body>
  <div class="container-fluid " style="margin-top:2%">
    <div class="row col-md-9 col-md-offset-3 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <div class="row">
        <h3>Humidity and Temperature:</h3>
        <p class="P_color2">目前溫度:</p>
        <h4 class="P_color" id="temp"></h4>
        <p class="P_color2">目前濕度:</p>
        <h4 class="P_color" id="humi"></h4>
      </div>
      <div class="row">
        <h3>Air quality:</h3>
        <p>粉塵指數:</h4>
          <p class="P_color" id="dustDensity"></p>
      </div>
      <div class="row">
        <h3>Alternating current:</h2>
          <p class="P_color2">目前電流:</p>
          <h4 class="P_color2" id="date"></h4>
          <p class="P_color">目前使用度數:</p>
          <h4 class="P_color2" id="power"></h4>
          <p class="P_color">目前每度費率:</p>
          <h4 class="P_color2" id="cost"></h4>
          <p class="P_color">目前應繳金額:</p>
          <h4 class="P_color2" id="money"></h4>
          <input type="text" id="price" placeholder="update price value"></input>
          <input type="button" value="送出" class="btn btn-default" onclick="javascript:data() "></input>
      </div>
    </div>
  </div>
  </div>
</body>

</html>
