<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>電流統計系統</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    body{
      background: url(img/background.jpg) no-repeat center center fixed;
      background-size : cover;
    }
  </style>
  <script>
    var socket = io.connect('http://127.0.0.1:3000'); // 連線至伺服器
    

    socket.on('humi', function (key) {
      $('#humi').text(key.date)
    });

    socket.on('temp', function (key) {
      $('#temp').text(key.date)
    });

    socket.on('event', function (key) {
      $('#date').text(key.date)
    });
    socket.on('power', function (key) {
      $('#power').text(key.date)
    });
    socket.on('price', function (key) {
      $('#cost').text(key.date)
    });
    socket.on('money', function (key) {
      $('#money').text(key.date)
    });
    function data() {
      socket.emit('client_data', {
        'data': $('#price').val()
      });
    }
  </script>
</head>

<body>
  <div class="container-fluid ">
    <div class="row col-md-8 col-md-offset-4 col-sm-12">
      <div class="row">
        <h1>Alternating current</h1>
      </div>
      <div >
        <P>目前電流:</P><p id="date"></p>
        目前使用度數:<p id="power"></p>
        目前每度費率:<p id="cost"></p>
        目前應繳金額:<p id="money"></p>
        目前溫度:<p id="temp"></p>
        目前濕度:<p id="humi"></p>
        <input type="text" id="price" placeholder="Text input"></input>
        <input type="button" value="送出" class="btn btn-primary" onclick="javascript:data() "></input>
      </div>
    </div>
  </div>
</body>

</html>